Task on the basis of string functions...

In [9]:
# practice on the title functions

name = "mohan gunderao wankhede"
print (name.title())


name = "roht devidas dahilkar"
print (name.title ())

name = "madhu kisan raut "
print (name.title ())  



Address = " at umred ta umred dist nagpur "
print (Address.title ())

schoolname = " ashok high school umred "
print (school name.title ())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4031925160.py, line 19)